<li><%= comment.commenter.name %> <%= comment.created_at %></li>
<li><%= comment.content %></li>
<% if comment.commenter.id == session[:user_id] %>
  <%= link_to 'destroy', [Article.find(comment.article_id), comment], method: :delete, data: { confirm: 'Positive?'} %>
<% else %>
  <%= link_to 'upvote', "/comments/#{comment.id}/vote", method: :post %>
<% end %>
