<li><%= link_to article.title, article.link %></li>
<li><%= article.poster.name %>
<%= article.votes.count %>
<%= article.comments.count %></li>

<span>
  <%= link_to 'edit', edit_article_path(article) %>
  <%= link_to 'destroy', article_path(article), method: :delete, data: { confirm: 'Positive?'} %>
</span>

